:root{
    --roxo-claro: #b171c5;
    --roxo-pastel:#e074c5;
    --branco: #ffffff;
}

body {
    background-color: var(--roxo-claro);
   
}

img{
    width: 20%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section{
    display: flex;
    background-color: var(--branco);
    border-radius: 30px; 
    /* border-style: dashed; */
    /* border-width: 5px; */
    /* border-color: blue; */
    border: dotted 10px rgb(0, 0, 0);
}
